a.menu_submenu_link {
	color: inherit;
	text-decoration: inherit;
}
	a.menu_submenu_link:hover {
		color: black;
	}

.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}